ul {
    list-style-type: none;
    margin: 0;
    padding: 100;
    overflow: hidden;
    background-color: #4682B4;
}

li {
    float: left;
    margin-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

header img {
    margin-left: 15px;
    max-width: 100%;
    height: auto
}

h1 {
    text-align: center;
    font-size: 30px;
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.items {
    float: left;
    width: 100%;
    padding: 5px;
    height: auto;
}

.showcase:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: rgb(117, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
}

article {
    text-align: center;
    color: rgb(117, 122, 122);
}

article h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
}

.back {
    padding: 8px;
    position: relative;
}

.centered {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(222, 184, 135, 0.589);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

footer {
    background-color: #4682B4;
    text-align: center;
    color: white;
}

.part {
    float: left;
    width: 48%;
    padding: 5px;
}

.contactin::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .back img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .items img {
        width: 100%;
    }
}